NET clk LOC="P43";
NET "clk" TNM_NET = "clk";
TIMESPEC "ts_clk" = PERIOD "clk" 40 ns HIGH 50%;

// D1
NET leds<0>  LOC="P20";
NET leds<1>  LOC="P37";

// D2
NET leds<2>  LOC="P16";
NET leds<3>  LOC="P19";

// D3
NET leds<4>  LOC="P93";
NET leds<5>  LOC="P94";

// D4
NET leds<6>  LOC="P3";
NET leds<7>  LOC="P4";

// D5
NET leds<8>  LOC="P72";
NET leds<9>  LOC="P73";

// D6
NET leds<10>  LOC="P83";
NET leds<11> LOC="P84";

// D7
NET leds<12> LOC="P90";
NET leds<13> LOC="P89";

// D8
NET leds<14> LOC="P59";
NET leds<15> LOC="P60";

// D9
NET leds<16> LOC="P62";
NET leds<17> LOC="P61";

// D10
NET leds<18> LOC="P64";
NET leds<19> LOC="P65";

// D11
NET leds<20> LOC="P71";
NET leds<21> LOC="P70";

// D12
NET leds<22> LOC="P57";
NET leds<23> LOC="P56";

PIN "uart_clk_i/DCM_SP_INST" LOC="DCM_X1Y0";
PIN "uart_clk_i/DCM_SP_INST.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;

NET rx LOC="P49";
NET tx LOC="P50";